---
---

<article
  class="mx-32 my-8 px-8 py-16 bg-amber-50 rounded-2xl flex flex-col gap-4"
>
  <div class="text-gray-500 flex flex-col gap-1">
    <h1 class="text-6xl"><b>About Me</b></h1>
    <h2 class="text-4xl">Who am I?</h2>
  </div>

  <span class="border-1 border-red-500"></span>

  <p class="text-lg text-gray-700">
    Hello! I'm Pavel Borodin, a passionate full-stack developer with a knack for
    creating dynamic and responsive web applications. With a strong foundation
    in both front-end and back-end technologies, I thrive on turning complex
    problems into elegant solutions. My journey in tech has been driven by a
    love for coding and a commitment to continuous learning. When I'm not
    coding, you can find me exploring the latest tech trends or contributing to
    open-source projects. Let's build something amazing together!
  </p>
</article>
