---

---

<article class="text-white print:text-black flex flex-col gap-y-4 print:gap-y-2" id="about-me">
  <p class="sansation-light text-lg">
    I am a passionate full-stack developer with experience in building dynamic
    and responsive web applications. My expertise lies in both front-end and
    back-end development, allowing me to create seamless user experiences.
  </p>
</article>
