---
import PersonalImage from '../assets/iam.webp'
import { GlobeIcon } from '@radix-ui/react-icons'
import Links from './Links'

const altPersonalImage = 'A stylized portrait of Pavel Borodin'
const mapLink = 'https://www.google.com/maps/place/Valencia'
---

<header class="flex flex-col gap-y-2 text-white print:text-black">
  <div class="flex justify-between items-center gap-12 print:gap-6">
    <div class="flex flex-col mb-4 gap-4 print:gap-2">
      <h1 class="text-4xl print:text-2xl orbitron-bold">Pavel Borodin</h1>
      <p class="max-w-md sansation-light">
        Full-stack developer with a passion for creating dynamic and responsive
        web applications.
      </p>
      <div class="max-w-md flex items-center gap-2 text-sm">
        <GlobeIcon className="print:stroke-black print:stroke-[0.5px]" />
        <a class="orbitron-regular hover:underline" href={mapLink}
          >Valencia, Spain</a
        >
      </div>
    </div>
    <span>
      <img src={PersonalImage.src} alt={altPersonalImage} width="128" />
    </span>
  </div>

  <Links />
</header>
