---
import { cn } from '@/lib/utils'
import Tag from './Tag.astro'

const tags = Astro.props.tags as { tag: string; tagType: string }[]
const title = Astro.props.title as string
const description = Astro.props.description as string
const active = Astro.props.active as boolean
---

<article class="h-full">
  <header>
    <h2 class="orbitron-bold text-xl text-white">{title}</h2>
    <span
      class={cn(
        'inline-block w-3 h-3 rounded-full',
        active ? 'bg-green-500' : 'bg-red-500'
      )}></span>
  </header>

  <p class="sansation-light text-sm text-white/80">{description}</p>

  <div class="flex items-center gap-x-1 flex-0">
    {tags.map(({ tag, tagType }) => <Tag tagType={tagType} name={tag} />)}
  </div>
</article>
