---

---

<article class="flex flex-col gap-y-4 text-white">
  <h2 class="orbitron-bold text-xl">Skills</h2>
  <ul aria-label="Skills" class="flex flex-wrap gap-1 text-white">
    <li
      class="bg-purple-600 border border-purple-400 px-1 py-0.5 rounded sansation-light text-xs"
    >
      Python
    </li>
    <li
      class="bg-purple-600 border border-purple-400 px-1 py-0.5 rounded sansation-light text-xs"
    >
      Django
    </li>
    <li
      class="bg-purple-600 border border-purple-400 px-1 py-0.5 rounded sansation-light text-xs"
    >
      FastAPI
    </li>
    <li
      class="bg-purple-600 border border-purple-400 px-1 py-0.5 rounded sansation-light text-xs"
    >
      JavaScript (ES6+)
    </li>
    <li
      class="bg-purple-600 border border-purple-400 px-1 py-0.5 rounded sansation-light text-xs"
    >
      TypeScript
    </li>
    <li
      class="bg-purple-600 border border-purple-400 px-1 py-0.5 rounded sansation-light text-xs"
    >
      React
    </li>
    <li
      class="bg-purple-600 border border-purple-400 px-1 py-0.5 rounded sansation-light text-xs"
    >
      Node.js
    </li>
    <li
      class="bg-purple-600 border border-purple-400 px-1 py-0.5 rounded sansation-light text-xs"
    >
      Express.js
    </li>
    <li
      class="bg-purple-600 border border-purple-400 px-1 py-0.5 rounded sansation-light text-xs"
    >
      HTML & CSS
    </li>
    <li
      class="bg-purple-600 border border-purple-400 px-1 py-0.5 rounded sansation-light text-xs"
    >
      SQL & NoSQL Databases
    </li>
    <li
      class="bg-purple-600 border border-purple-400 px-1 py-0.5 rounded sansation-light text-xs"
    >
      Git & Version Control
    </li>
    <li
      class="bg-purple-600 border border-purple-400 px-1 py-0.5 rounded sansation-light text-xs"
    >
      RESTful APIs
    </li>
    <li
      class="bg-purple-600 border border-purple-400 px-1 py-0.5 rounded sansation-light text-xs"
    >
      Agile Methodologies
    </li>
    <li
      class="bg-purple-600 border border-purple-400 px-1 py-0.5 rounded sansation-light text-xs"
    >
      Testing & Debugging
    </li>
    <li
      class="bg-purple-600 border border-purple-400 px-1 py-0.5 rounded sansation-light text-xs"
    >
      Cloud Services (AWS, Google Cloud, Vercel)
    </li>
  </ul>
</article>
