---
import Header from '../components/Header.astro'
import Footer from '../components/Footer'
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=5"
    />
    <title>Pavel Borodin - Portfolio</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="">
    <main
      class="bg-[url('../assets/bg.svg')] bg-cover relative mx-auto scroll-my-12 overflow-auto p-8 md:p-16 print:p-12"
      id="main-content"
    >
      <section class="mx-auto w-full max-w-2xl space-y-8 print:space-y-4">
        <Header />
        <div class="space-y-10 print:space-y-2">
          <slot />
        </div>
      </section>
      <Footer client:load />
    </main>
  </body>
</html>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Orbitron&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

  .sansation-light {
    font-family: 'Sansation', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .sansation-regular {
    font-family: 'Sansation', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .orbitron-regular {
    font-family: 'Orbitron', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .orbitron-medium {
    font-family: 'Orbitron', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .orbitron-semibold {
    font-family: 'Orbitron', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: semi-bold;
  }

  .orbitron-bold {
    font-family: 'Orbitron', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
  }

  .orbitron-extrabold {
    font-family: 'Orbitron', sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: extra-bold;
  }

  .orbitron-black {
    font-family: 'Orbitron', sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: black;
  }
</style>

<style is:global>
  * {
    box-sizing: border-box;
  }
  html,
  body {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
    color-scheme: light dark;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
